
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{asset "images/favicon.ico"}}">
    <title>node-project-seed</title>
    {{{block "bodyStyleSheets"}}}
  </head>

  <body>
  <div class="wrapper">
  <h2><a href="{{homeUrl}}">Home</a></h2>
        <br>
    {{{body}}}
    </div>
    {{{block "bodyScripts"}}}
    {{{config "Environment configs"}}}
  </body>
</html>
